/* $Id: style.css,v 1.20 2010/12/24 22:51:13 kristaps Exp $ */

html		{ max-width: 800px; }
body		{ color: #333333;
		  font-size: 0.93em;
		  font-family: Times, serif; }

/* Preamble structure. */

table.foot	{ width: 100%; 
		  font-size: 0.8em;
		  margin-top: 1em;
		  border-top: 1px dotted #dddddd; 
		  color: #999999; } /* Document footer. */
td.foot-date	{ width: 50%; } /* Document footer: date. */
td.foot-os	{ width: 50%; text-align: right; } /* Document footer: OS/source. */
table.head	{ width: 100%; 
		  font-size: 0.8em;
		  margin-bottom: 1em;
		  border-bottom: 1px dotted #dddddd; 
		  color: #999999; } /* Document header. */
td.head-ltitle	{ width: 10%; } /* Document header: left-title. */
td.head-vol	{ width: 80%; text-align: center; } /* Document header: volume. */
td.head-rtitle	{ width: 10%; text-align: right; } /* Document header: right-title. */

/* Sections. */

h1		{ margin-bottom: 0px; color: #000000; font-size: 0.93em; margin-left: -4ex; } /* Section header (Sh, SH). */
h2		{ margin-bottom: 0px; color: #000000; font-size: 0.93em; margin-left: -2ex; } /* Sub-section header (Ss, SS). */
div.section	{ margin-bottom: 2ex; margin-left: 4ex; } /* Sections (Sh, SH). */
div.subsection	{ } /* Sub-sections (Ss, SS). */
table.synopsis	{ } /* SYNOPSIS section table. */
table.synopsis td { vertical-align: top; } /* SYNOPSIS section table. */

/* Vertical spacing. */

p		{ } /* Paragraph: Pp, Lp. */
blockquote	{ margin-top: 0px; margin-bottom: 0px; }
table		{ margin-top: 0px; margin-bottom: 0px; }

/* General font modes. */

.lit		{ font-family: monospace; font-style: normal; font-weight: normal; } /* Literal: Dl, Li, Bf -literal, Bl -literal, Bl -unfilled. */
.italic		{ font-style: italic; font-weight: normal; } /* Italic: BI, IB, I, (implicit). */
.emph		{ font-style: italic; font-weight: normal; } /* Emphasis: Em, Bl -emphasis. */
.bold		{ font-style: normal; font-weight: bold; } /* Bold: SB, BI, IB, BR, RB, B, (implicit). */
.symb		{ font-style: normal; font-weight: bold; } /* Symbolic: Sy, Ms, Bf -symbolic. */
.roman		{ font-style: normal; font-weight: normal; } /* Roman: (implicit). */
.small		{ font-style: normal; font-weight: normal; font-size: smaller; } /* Small: SB, SM. */

/* Block modes. */

.display	{ background-color: #EEEEEE; 
		  margin: 3px;
		  padding: 3px;
		  border: 1px solid #339999; } /* Top of all Bd, D1, Dl. */
.list		{ } /* Top of all Bl. */

/* Context-specific modes. */

i.addr		{ font-weight: normal; } /* Address (Ad). */
i.arg		{ font-weight: normal; } /* Command argument (Ar). */
span.author	{ } /* Author name (An). */
b.cmd		{ font-style: normal; } /* Command (Cm). */ 
b.config	{ font-style: normal; } /* Config statement (Cd). */
span.define	{ } /* Defines (Dv). */
span.desc	{ } /* Nd.  After em-dash. */
b.diag		{ font-style: normal; } /* Diagnostic (Bl -diag). */
span.env	{ } /* Environment variables (Ev). */
span.errno	{ } /* Error string (Er). */
i.farg		{ font-weight: normal; } /* Function argument (Fa, Fn). */
i.file		{ font-weight: normal; } /* File (Pa). */
b.flag		{ font-style: normal; } /* Flag (Fl, Cm). */
b.fname		{ font-style: normal; } /* Function name (Fa, Fn, Rv). */
i.ftype		{ font-weight: normal; } /* Function types (Ft, Fn). */
b.includes	{ font-style: normal; } /* Header includes (In). */
span.lib	{ } /* Library (Lb). */
b.macro		{ font-style: normal; } /* Macro-ish thing (Fd). */
b.name		{ color: blue; font-style: normal; } /* Name of utility (Nm). */
span.opt	{ } /* Options (Op, Oo/Oc). */
span.ref	{ } /* Citations (Rs). */
span.ref-auth	{ } /* Reference author (%A). */
i.ref-book	{ font-weight: normal; } /* Reference book (%B). */
span.ref-city	{ } /* Reference city (%C). */
span.ref-date	{ } /* Reference date (%D). */
i.ref-issue	{ font-weight: normal; } /* Reference issuer/publisher (%I). */
i.ref-jrnl	{ font-weight: normal; } /* Reference journal (%J). */
span.ref-num	{ } /* Reference number (%N). */
span.ref-opt	{ } /* Reference optionals (%O). */
span.ref-page	{ } /* Reference page (%P). */
span.ref-corp	{ } /* Reference corporate/foreign author (%Q). */
span.ref-rep	{ } /* Reference report (%R). */
span.ref-title	{ text-decoration: underline; } /* Reference title (%T). */
span.ref-vol	{ } /* Reference volume (%V). */
span.type	{ font-style: italic; font-weight: normal; } /* Variable types (Vt). */
span.unix	{ } /* Unices (Ux, Ox, Nx, Fx, Bx, Bsx, Dx). */
b.utility	{ font-style: normal; } /* Name of utility (Ex). */
b.var		{ font-style: normal; } /* Variables (Rv). */

a.link-ext	{ background: transparent url(external.png) center right no-repeat; padding-right: 12px; }/* Off-site link (Lk). */
a.link-includes	{ } /* Include-file link (In). */
a.link-mail 	{ background: transparent url(external.png) center right no-repeat; padding-right: 12px; }/* Mailto links (Mt). */
a.link-man	{ } /* Manual links (Xr). */
a.link-ref	{ } /* Reference section links (%Q). */
a.link-sec	{ text-decoration: none; border-bottom: 1px dotted #339999; } /* Section links (Sx). */

/* Formatting for lists. */

dl.list-diag	{ }
dt.list-diag	{ }
dd.list-diag	{ }

dl.list-hang	{ }
dt.list-hang	{ }
dd.list-hang	{ }

dl.list-inset	{ }
dt.list-inset	{ }
dd.list-inset	{ }

dl.list-ohang	{ }
dt.list-ohang	{ }
dd.list-ohang	{ margin-left: 0em; }

dl.list-tag	{ }
dt.list-tag	{ }
dd.list-tag	{ }

table.list-col	{ }
tr.list-col	{ }
td.list-col	{ }

ul.list-bul	{ list-style-type: disc; padding-left: 1em; }
li.list-bul	{ }

ul.list-dash	{ list-style-type: none; padding-left: 0em; }
li.list-dash:before { content: "\2014  "; }

ul.list-hyph	{ list-style-type: none; padding-left: 0em; }
li.list-hyph:before { content: "\2013  "; }

ul.list-item	{ list-style-type: none; padding-left: 0em; }
li.list-item	{ }

ol.list-enum	{ padding-left: 2em; }
li.list-enum	{ }
