# $DragonFly: site/data/.htaccess,v 1.2 2006/11/17 03:41:05 justin Exp $ 
Redirect permanent /index.cgi http://www.dragonflybsd.org/index.shtml
Redirect permanent /missing.cgi http://www.dragonflybsd.org/missing.shtml
