urxvt*font: xft:Terminus:pixelsize=10
urxvt*termName: rxvt
urxvt*background: rgba:0000/0000/0000/dddd
urxvt*foreground: grey90
urxvt*depth: 32
urxvt*geometry: 100x30
urxvt*scrollBar: False
urxvt*inheritPixmap: True
urxvt*tintColor: grey
urxvt*shading: 10

! Tango color scheme

urxvt*color0: #000000
urxvt*color1: #a40000
urxvt*color2: #4e9a06
urxvt*color3: #c4a000
urxvt*color4: #204a87
urxvt*color6: #038e82
urxvt*color7: #babdb6
urxvt*color8: #555753
urxvt*color9: #cc0000
urxvt*color10: #73d216
urxvt*color11: #edd400
urxvt*color12: #3465a4
urxvt*color14: #05d2c1
urxvt*color15: #d3d7cf

! xterms

*VT100.Translations:    #override \
	Ctrl<Key>period:	insert-selection(PRIMARY, CUT_BUFFER0) \n\
	Shift<Key>Prior:	scroll-back(1,fullpage) \n\
	Shift<Key>Next:		scroll-forw(1,fullpage) \n\
	Shift<Key>Up:		scroll-back(1,halfpage) \n\
	Shift<Key>Down:		scroll-forw(1,halfpage) \n

XTerm.VT100.eightBitInput:	true
xterm*alwaysHighlight:		true
xterm*cutToBeginningOfLine:	false
xterm*background:		#000020002000
xterm*foreground:		#0000DFFFDFFF
xterm*cursorColor:		white
xterm*font:			7x14
xterm*scrollBar:		true
xterm*saveLines:		1000
xterm*scrollKey:		true
xterm*scrollTtyOutput:		false
xterm*toolBar:			false
