# $FreeBSD: src/etc/mtree/BSD.include.dist,v 1.32.2.14 2003/01/24 09:47:07 roam Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    arpa
    ..
    bus
        cam
            scsi
            ..
        ..
        isa
        ..
        pccard
        ..
        pci
        ..
        ppbus
        ..
        smbus
        ..
        u4b
        ..
    ..
    c++
        4.7
            backward
            ..
            bits
            ..
            debug
            ..
            decimal
            ..
            ext
                pb_ds
                    detail
                        branch_policy
                        ..
                        binary_heap_
                        ..
                        binomial_heap_base_
                        ..
                        binomial_heap_
                        ..
                        bin_search_tree_
                        ..
                        cc_hash_table_map_
                        ..
                        eq_fn
                        ..
                        gp_hash_table_map_
                        ..
                        hash_fn
                        ..
                        left_child_next_sibling_heap_
                        ..
                        list_update_map_
                        ..
                        list_update_policy
                        ..
                        ov_tree_map_
                        ..
                        pairing_heap_
                        ..
                        pat_trie_
                        ..
                        rb_tree_map_
                        ..
                        rc_binomial_heap_
                        ..
                        resize_policy
                        ..
                        splay_tree_
                        ..
                        thin_heap_
                        ..
                        tree_policy
                        ..
                        trie_policy
                        ..
                        unordered_iterator
                        ..
                    ..
                ..
            ..
            profile
                impl
                ..
            ..
            tr1
            ..
            tr2
            ..
        ..
        5.0
            backward
            ..
            bits
            ..
            debug
            ..
            decimal
            ..
            experimental
            ..
            ext
                pb_ds
                    detail
                        bin_search_tree_
                        ..
                        binary_heap_
                        ..
                        binomial_heap_
                        ..
                        binomial_heap_base_
                        ..
                        branch_policy
                        ..
                        cc_hash_table_map_
                        ..
                        eq_fn
                        ..
                        gp_hash_table_map_
                        ..
                        hash_fn
                        ..
                        left_child_next_sibling_heap_
                        ..
                        list_update_map_
                        ..
                        list_update_policy
                        ..
                        ov_tree_map_
                        ..
                        pairing_heap_
                        ..
                        pat_trie_
                        ..
                        rb_tree_map_
                        ..
                        rc_binomial_heap_
                        ..
                        resize_policy
                        ..
                        splay_tree_
                        ..
                        thin_heap_
                        ..
                        tree_policy
                        ..
                        trie_policy
                        ..
                        unordered_iterator
                        ..
                    ..
                ..
            ..
            parallel
            ..
            profile
                impl
                ..
            ..
            tr1
            ..
            tr2
            ..
        ..
    ..
    cpu
    ..
    crypto
    ..
    dev
        acpica
        ..
        disk
            mpt
                mpilib
                ..
            ..
            dm
            ..
        ..
        misc
            lpt
            ..
            ppi
            ..
            putter
            ..
        ..
        netif
            wi
            ..
        ..
        raid
            ciss
            ..
            mfi
            ..
        ..
        smbus
            smb
            ..
        ..
        video
            bktr
            ..
            meteor
            ..
        ..
    ..
    emulation
        posix4
        ..
        linux
        ..
    ..
    gnu
        vfs
            ext2fs
            ..
        ..
    ..
    ldns
    ..
    libprop
    ..
    lzma
    ..
    machine
        pc
        ..
    ..
    net
        altq
        ..
        vlan
        ..
        ipfw
        ..
        ip6fw
        ..
        lagg
        ..
        pf
        ..
        ppp
        ..
        ppp_layer
        ..
        sl
        ..
        dummynet
        ..
        sppp
        ..
        ip_mroute
        ..
        bridge
        ..
        tap
        ..
        tun
        ..
    ..
    netbt
    ..
    netgraph
        UI
        ..
        async
        ..
        bpf
        ..
        bridge
        ..
        cisco
        ..
        echo
        ..
        eiface
        ..
        etf
        ..
        ether
        ..
        fec
        ..
        frame_relay
        ..
        hole
        ..
        iface
        ..
        ksocket
        ..
        l2tp
        ..
        lmi
        ..
        mppc
        ..
        one2many
        ..
        ppp
        ..
        pppoe
        ..
        pptpgre
        ..
        rfc1490
        ..
        socket
        ..
        tee
        ..
        tty
        ..
        vjc
        ..
    ..
   netgraph7
        UI
        ..
        async
        ..
        bpf
        ..
        bridge
        ..
        cisco
        ..
        deflate
        ..
        echo
        ..
        eiface
        ..
        etf
        ..
        ether
        ..
        frame_relay
        ..
        hole
        ..
        hub
        ..
        iface
        ..
        ksocket
        ..
        l2tp
        ..
        lmi
        ..
        mppc
        ..
        one2many
        ..
        ppp
        ..
        pppoe
        ..
        pptpgre
        ..
        rfc1490
        ..
        socket
        ..
        tcpmss
        ..
        tee
        ..
        tty
        ..
        vjc
        ..
    ..
    netinet
    ..
    netinet6
    ..
    netproto
        802_11
        ..
        ipsec
        ..
        key
        ..
        mpls
        ..
        smb
        ..
    ..
    openssl
    ..
    pcap
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    security
    ..
    sys
    ..
    vfs
        hammer
        ..
        hammer2
        ..
        msdosfs
        ..
        nfs
        ..
        ntfs
        ..
        puffs
        ..
        udf
        ..
        ufs
        ..
        mfs
        ..
        smbfs
        ..
        isofs
            cd9660
            ..
        ..
    ..
    vm
    ..
    xlocale
    ..
..
