# $FreeBSD: src/etc/mtree/BSD.root.dist,v 1.45.2.4 2002/06/10 15:33:27 obrien Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    boot
        defaults
        ..
        kernel
        ..
        modules.local
        ..
    ..
    build
    ..
    compat
        ndis
        ..
    ..
    dev
    ..
    etc
        X11
        ..
        autofs
        ..
        bluetooth
        ..
        defaults
        ..
        devd
        ..
        dma
        ..
        mail
        ..
        mtree
        ..
        pam.d
        ..
        periodic
            daily
            ..
            monthly
            ..
            security
            ..
            weekly
            ..
        ..
        ppp
        ..
        rc.d
        ..
        skel
        ..
        ssh
        ..
        ssl
        ..
        upgrade
        ..
    ..
    home
    ..
    lib
        priv
        ..
    ..
    libexec
    ..
    mnt
    ..
    proc            mode=0555
    ..
    root
    ..
    sbin
    ..
    tmp             mode=01777
    ..
    usr
    ..
    var
    ..
..
