# $FreeBSD: src/etc/mtree/BSD.include.dist,v 1.32.2.14 2003/01/24 09:47:07 roam Exp $
# $DragonFly: src/etc/mtree/BSD.include.dist,v 1.3 2003/08/07 21:26:07 dillon Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    arpa
    ..
    bus
	cam
	    scsi
	    ..
	..
	pccard
	..
    ..
    crypto
    ..
    dev
        an
        ..
        firewire
        ..
        ppbus
        ..
        usb
        ..
        wi
        ..
    ..
    netproto
	atalk
	..
	atm
	    ipatm
	    ..
	    sigpvc
	    ..
	    spans
	    ..
	    uni
	    ..
	..
	ipsec
	..
	ipx
	..
	key
	..
	natm
	..
	ncp
	..
	ns
	..
	smb
	..
    ..
    emulation
	posix4
	..
    ..
    vfs
	msdosfs
	..
	nfs
	..
	ntfs
	..
	nwfs
	..
	ufs
	..
	mfs
	..
	isofs
	    cd9660
	    ..
	..
    ..
    g++
        std
        ..
    ..
    isc
    ..
    libmilter
    ..
    machine
        pc
        ..
    ..
    net
    ..
    netgraph
    ..
    netinet
    ..
    netinet6
    ..
    objc
    ..
    openssl
    ..
    pccard
    ..
    posix4
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    security
    ..
    sys
    ..
    vm
    ..
..
