# $FreeBSD: src/etc/mtree/BSD.include.dist,v 1.32.2.14 2003/01/24 09:47:07 roam Exp $
# $DragonFly: src/etc/mtree/BSD.include.dist,v 1.5 2004/01/22 19:29:55 joerg Exp $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    arpa
    ..
    bus
	cam
	    scsi
	    ..
	..
	pccard
	..
	usb
	..
	pci
	..
	isa
	..
    ..
    crypto
    ..
    dev
	misc
	    lpt
	    ..
	..
	netif
	    wi
	    ..
	..
	raid
	..
    ..
    netproto
	atalk
	..
	atm
	    ipatm
	    ..
	    sigpvc
	    ..
	    spans
	    ..
	    uni
	    ..
	..
	ipsec
	..
	ipx
	..
	key
	..
	natm
	..
	ncp
	..
	ns
	..
	smb
	..
    ..
    emulation
	posix4
	..
	linux
	..
    ..
    vfs
	msdosfs
	..
	nfs
	..
	ntfs
	..
	nwfs
	..
	ufs
	..
	mfs
	..
	smbfs
	..
	isofs
	    cd9660
	    ..
	..
    ..
    c++
        3.3
	    backward
	    bits
	    ext
	    ..
	..
    g++
        std
        ..
    ..
    isc
    ..
    libmilter
    ..
    machine
        pc
        ..
    ..
    i4b_machine
    ..
    net
	vlan
	..
	ipfw
	..
	ip6fw
	..
	ppp
	..
	ppp_layer
	..
	sl
	..
	dummynet
	..
	sppp
	..
	ip_mroute
	..
	bridge
	..
	tun
	..
	i4b
	    include
	    ..
	..
    ..
    netgraph
	UI
	..
	async
	..
	bpf
	..
	bridge
	..
	cisco
	..
	echo
	..
	eiface
	..
	etf
	..
	ether
	..
	fec
	..
	frame_relay
	..
	hole
	..
	iface
	..
	ksocket
	..
	l2tp
	..
	lmi
	..
	mppc
	..
	one2many
	..
	ppp
	..
	pppoe
	..
	pptpgre
	..
	rfc1490
	..
	socket
	..
	tee
	..
	tty
	..
	vjc
	..
    ..
    netinet
    ..
    netinet6
    ..
    objc
    ..
    openssl
    ..
    pccard
    ..
    protocols
    ..
    readline
    ..
    rpc
    ..
    rpcsvc
    ..
    security
    ..
    sys
    ..
    vm
    ..
..
